*{
    margin: 0;
    padding: 0;

    /* box-sizing: border-box;
     */
}


form{
    width: 50%;
    margin: 2rem auto;
}

input{
    display: block;
    margin:  1rem auto;
    font-size: 20px;
    
}